:root {
    --lightGray: #efefef;
    --midGray: #737373;
    --darkGray: #3a3a3a;
    --marBot: 2rem;
    --marBotBig: 3.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Nunito', Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0 auto;
}

img {vertical-align: middle;}

li {list-style: none;}

a {
    text-decoration: none;
    color: var(--darkGray);
}

p {font-size: .8rem}
h1 {font-size: 1.1rem;}

h2 {
    font-size: 1.5rem;
    font-weight: lighter;
}

h1, h2, h3, h4 {text-transform: uppercase;}

header, #about {margin-bottom: var(--marBotBig);}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 .5rem;
}

#mobile-header {display: none;}

/************************************/
/************* HEADER ***************/
/************************************/

.header-top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 3rem;
    margin-bottom: var(--marBot);
    background-color: var(--lightGray);
    text-transform: uppercase;
    align-items: baseline;
    font-weight: bold;
    color: var(--darkGray);
}

.header-top p:first-child, .header-top h1 {
    padding-right: .5rem;
}

.profile-cart {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: baseline;
}

.profile-cart p:first-child {
    margin-right: 1rem;
}

.profile-cart p:first-child::after {
    content: url(../icon/user.svg);
    display: inline-block;
    padding: 0 7px;
    width: 1rem;
    filter: brightness(.3);
    vertical-align: middle.
}

.profile-cart p:last-child::after {
    content: url(../icon/shopping-cart.svg);
    display: inline-block;
    padding: 0 7px;
    width: 1rem;
    filter: brightness(.3);
    vertical-align: middle;
}

.cart-qnt {
    background-color: #37c0a8;
    padding: 5px 8px;
    border-radius: 50%;
    color: #f4f4f4;
}

/************** MAIN MENU ****************/

.main-menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
    justify-content: space-evenly;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: var(--marBot);
}

.main-menu p {
    cursor: pointer;
    color: var(--darkGray);
}

.main-menu img {
    max-width: 60px;
    cursor: pointer;
}

.drop-down-arrow::after {
    content: url(../icon/angle-down.svg);
    display: inline-block;
    padding: 0 7px;
    width: 1rem;
    filter: brightness(.5);
    position: relative;
    top: 7px;
}

/************* MOBILE ****************/

#mobile-menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 2px var(--lightGray);
}

.mobile-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mobile-logo {
    width: 2rem;
    height: auto;
}

#menu-btn::after {
    content: url(../icon/bars.svg);
    display: inline-block;
    width: 1rem;
    padding: 1rem;
}

.menu-active {
        background-color: var(--lightGray);
    border-radius: 10%;
}

#menu-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    text-align: right;
    box-shadow: -2px 2px 2px var(--lightGray);
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 2;
}

.mob-item {
    font-size: 1.1rem;
    padding: .2rem 2rem;
    text-transform: uppercase;
    background-color: var(--lightGray);
}

.mob-item:nth-child(even) {
    background-color: #fff;
}

/************* DESTAQUE ****************/

.destaque {
    text-align: center;
    background-color: var(--lightGray);
    padding: 1rem;
    margin-bottom: var(--marBot);
}

/************ SEARCH BAR ***************/

#search-bar {
    background: var(--lightGray);
    padding: .5rem 1rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 600px;
}

input {
    font-family: 'Nunito', Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    border: none;
    outline: none;
}

#search-bar img {
    width: 1rem;
    filter: brightness(.5);
}

/************************************/
/************* ABOUT ****************/
/************************************/

#about {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

#about h2, #about img, #about p {
    margin-bottom: var(--marBot);
}

#about p {
    color: var(--midGray);
    font-size: 1.1rem;
}

#about img {max-width: 100%;}

/************************************/
/************* BEST-OF **************/
/************************************/

#best-of {
    border-top: 2px solid var(--lightGray);
    border-bottom: 2px solid var(--lightGray);
    padding: 3rem 0;
    margin-bottom: var(--marBotBig);
    text-transform: uppercase;
}

#best-of img {max-width: 100%}

.top-3 {
    text-align: center;
    margin-bottom: var(--marBot);
}

.top-itens {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
}

.espiar::before {
    content: url(../icon/search.svg);
    display: inline-block;
    padding: 4px 4px;
    width: .9rem;
    height: .9rem;
    margin-right: .3rem;
    filter: brightness(.5);
    position: relative;
    top: 2px;
    border: 1px solid var(--lightGray);
    border-radius: 50%;
}

.espiar {
    text-decoration: none;
    color: var(--midGray);
    font-weight: bold;
}

.info-product {
    text-align: center;
}

.info-product a>h3 {
    color: var(--darkGray);
}

.info-product a>h4 {
    color: var(--midGray);
}

/************************************/
/************* GALLERY **************/
/************************************/

#gallery {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;
}

#gallery h2 {margin-bottom: var(--marBot);}
.galeria {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: var(--marBotBig);
}

.gallery-img {
    display: inline-block;
    width: 160px;
}
.gallery-sm {display: none;}

/************************************/
/*********** MEDIA QUERY ************/
/************************************/

@media screen and (max-width:768px) {
    .gallery-img {display: none;}
    .gallery-sm {display: inline-block;}
}

@media screen and (max-width:720px) {
    #desktop-header {display: none;}
    #mobile-header {
        display: inline-block;
        width: 100%;
    }

    .destaque {margin-top: 70px;}
}

@media screen and (max-width:639px) {
    .top-itens {flex-direction: column;}
}

@media screen and (max-width:414px) {
    #about p {text-align: justify;}

    .gallery-img {
        display: inline-block;
        width: 100%;
    }
    .gallery-sm {display: none;}
}
